$size: 18px;

.social-share-button {
  .ssb-icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $size $size;
    display: inline-block;
    height: $size;
    width: $size;
  }

  @each $site in twitter, facebook, google_bookmark, google_plus, weibo, qq,
                 delicious, linkedin, tumblr, pinterest, douban, weichat, vkontakte, email {
    .ssb-#{$site} {
      background-image: image-url('social-share-button/#{$site}.svg');
    }
  }
}

.ss-weichat-dialog {
  width: 270px;
  height: 300px;
  position: fixed;
  background: #fff;
  padding: 10px;
  border: solid 1px #ddd;
  z-index: 11001;
  font-size: 12px;
  line-height: 1.2em;

  .weichat-dialog-qr {
    text-align: center;
    margin: 10px 0px;
  }

  .weichat-popup-close {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0px;
    top: 10px;
    color: #999;
    text-decoration: none;
    font-size: 16px;
  }

  .weichat-popup-footer {
    text-align: left;
    line-height: 22px;
    color: #666;
  }
}
